:root {
    --main-color: #013A4C;
    --secondary-color: #FE805E;
    --tertiary-color: #F1E8DA;
    --light: #F5F2EC;
    --dark: #333333;
    --font-family: "neue-kabel";

    /* Pour que le contenu central de la page d'accueil prenne la place restante*/
    --heightNav: 8vh;
    --heightWelcome: 7vh;
    --minHeightCalc: calc(100vh - var(--heightWelcome));


}