:root {
    --main-color: #013A4C;
    --secondary-color: #FE805E;
    --tertiary-color: #F1E8DA;
    --light: #F5F2EC;
    --dark: #333333;
    --font-family: "neue-kabel";
    --heightNav: 8vh;
    --heightWelcome: 7vh;
    --minHeightCalc: calc(100vh - var(--heightWelcome));


}

@media screen and (min-width:850px) {
    :root {
        --minHeightCalc: calc(100vh - var(--heightNav) - var(--heightWelcome));
    }
}